.App {
  display: flex;
  color: white;
  letter-spacing: 1px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.header-h1 {
  padding: 1em;
  background-color: rgb(17, 165, 198);
  color: whitesmoke;
}

.content {
  background-color: rgb(248, 253, 254);
  color: black;
  width: 85vw;
  margin-left: 15vw;
}

a {
  color: rgba(0,0,0,0.7);
}

a:hover {
  text-decoration: none;
  color: rgb(17, 165, 198);
}

.content-container {
  padding: 2.5em;
}

