.navigation {
    padding: 2em;
    width: 10vw;
    color: black;
    position: fixed;
    font-size: 1.15em;
    box-shadow: 1px 3px 5px grey;
    height: 100vh;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-top: 1em;
}

li {
    padding-bottom: .75em;
}

